[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[user]
	name = rcasetta
	email = richard.casetta@gmail.com
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[push]
	default = current
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto
[alias]
	ap= add -p
	co= checkout
	cb= checkout -b
	ci= commit
	cm= commit -m
	ca= commit --amend
	cano= commit --amend --no-edit
	ph= push
	pf= push --force-with-lease
	sh= stash
	pl= pull
	pur= pull --rebase
	bd= branch -d
	st= status
	sha=stash apply
	lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n'' %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
[pull]
	default = current
[core]
	editor = vim
[sequence]
	editor = rebase-editor
